# **TOPIC: String Based Assignment Problem**
---

### 1. Write a program to reverse a string.

In [ ]:
string = input("Input String:")
reversed_string = string[::-1]
print("Reversed String:", reversed_string)

Input String: Prasad

Reversed String: dasarP

### 2. Check if a string is a palindrome.

In [94]:
input_string = input("Enter a string:")
new_string = input_string.replace(" ", "").lower()
if new_string == new_string[::-1] :
    print(input_string, "is a palindrome")
else :
    print(input_string, "is not a palindrome")

Enter a string: Was it a car or a cat I saw

Was it a car or a cat I saw is a palindrome

### 3. Convert a string to uppercase.

In [1]:
string = input("Enter a String:")
uppercase = string.upper()
print("String in Uppercase:", uppercase)

Enter a String: prasad

String in Uppercase: PRASAD

### 4. Convert a string to lowercase.

In [2]:
string = input("Enter a String:")
lowercase = string.lower()
print("String in lowercase:", lowercase)

Enter a String: PRASAD

String in lowercase: prasad

### 5. Count the number of vowels in a string.

In [96]:
string = input("Enter a string:")
count = 0
for i in string :
    i = i.lower()
    if i in "aeiou" :
        count = count + 1
print("Number of Vowels:", count)

Enter a string: Data Science Pro

Number of Vowels: 6

### 6. Count the number of consonants in a string.

In [28]:
string = input("Enter a string:")
count = 0
for i in string :
    i = i.lower()
    if i not in "aeiou" and i != ' ':
        count = count + 1
print("Number of consonants:", count)

Enter a string: Data Science Pro

Number of consonants: 8

### 7. Remove all whitespaces from a string.

In [39]:
string = input("Enter a String: ")
new_string = string.replace(' ', '')
print("String After Removing All Spaces:", new_string)

Enter a String:  D     a       t        a

String After Removing All Spaces: Data

### 8. Find the length of a string without using the `len()` function.

In [5]:
string = input("Enter a String:")
count = 0
for i in string :
    count += 1
print("The Length of a String is:", count)

Enter a String: Nice

The Length of a String is: 4

### 9. Check if a string contains a specific word.

In [13]:
string = input("Enter a String:")
specific_word =input("Enter the specific word to check for:")
if specific_word in string :
    print(f"The word contains the '{specific_word}'")
else :
    print(f"The word does not contains '{specific_word}'")

Enter a String: the weather looks humid
Enter the specific word to check for: humid

The word contains the 'humid'

### 10. Replace a word in a string with another word.

In [15]:
string = input("Enter a sentence:")
old_word = input("Enter the word to be replaced:")
new_word = input("Enter the new word:")
modified_string = string.replace(old_word, new_word)
print("Modified String:", modified_string)

Enter a sentence: This Class Is Amazing
Enter the word to be replaced: Amazing
Enter the new word: Superb

Modified String: This Class Is Superb

### 11. Count the occurrences of a word in a string.

In [42]:
string = input("Enter a string:")
word = input("Enter a word to check for:")
count = string.count(word)
print(f"The Occurrences of a word '{word}' in a string is {count} times")

Enter a string: Data is important Data needs to be protected.
Enter a word to check for: Data

The Occurrences of a word 'Data' in a string is 2 times

### 12. Find the first occurrence of a word in a string.

In [9]:
string = input("Enter a String:")
word = input("Enter a word to check for:")
count = string.index(word)
print(f"The first occurance of a word '{word}' in a string is at index {count}")

Enter a String: Data is important. Data needs to be protected.
Enter a word to check for: Data

The first occurance of a word 'Data' in a string is at index 0

### 13. Find the last occurrence of a word in a string.

In [10]:
string = input("Enter a String:")
word = input("Enter a word to check for:")
count = string.rindex(word)
print(f"The last occurrence of a word '{word}' in a string is at index {count}")

Enter a String: Data is important. Data needs to be protected.
Enter a word to check for: Data

The last occurrence of a word 'Data' in a string is at index 19

### 14. Split a string into a list of words.

In [1]:
string = input("Enter a string: ")
words = string.split()
print("Splitted String:", words)

Enter a string:  Data Science Pro

Splitted String: ['Data', 'Science', 'Pro']

### 15. Join a list of words into a string.

In [2]:
List = ["Name", "Course", "Date", "Time"]
String = " ".join(List)
print("Original List:", List)
print("Joined String:", String )

Original List: ['Name', 'Course', 'Date', 'Time']
Joined String: Name Course Date Time

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [11]:
string = "Fun to learn Data Science"
converted_str = string.replace(" ", "_")
print("Oringinal String:", string)
print("Coverted String:", converted_str)

Oringinal String: Fun to learn Data Science
Coverted String: Fun_to_learn_Data_Science

### 17. Check if a string starts with a specific word or phrase.

In [10]:
string = input("Enter a string:")
word = input("Enter a word:")
if string.startswith(word) :
    print(f"The String starts with the word '{word}'")
else :
    print(f"The String does not starts with the word '{word}'")

Enter a string: Fantastic
Enter a word: F

The String starts with the word 'F'

### 18. Check if a string ends with a specific word or phrase.

In [4]:
string = input("Enter a string:")
word = input("Enter a Word:")
if string.endswith(word) :
    print(f"The string ends with the Word '{word}'")
else :
    print(f"The string does not ends with the word '{word}'")

Enter a string: Fantastic
Enter a Word: c

The string ends with the Word 'c'

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [9]:
Original_str = "hello world"
coverted_str = Original_str.title()
print("Original String:", Original_str)
print("Converted String:", coverted_str)

Original String: hello world
Converted String: Hello World

### 20. Find the longest word in a string.

In [6]:
string = input("Enter a String:")
word = string.split()
longest_word = max(word, key = len)
print("The Longest Word in a String is:", longest_word)

Enter a String: This is the Python Program to Find the longest word in a string.

The Longest Word in a String is: Program

### 21. Find the shortest word in a string.

In [7]:
string = input("Enter a String:")
word = string.split()
shortest_word = min(word, key = len)
print("The Shortest Word in a String is:",shortest_word)

Enter a String: This is the Python program to Find the shortest word in a string.

The Shortest Word in a String is: a

### 22. Reverse the order of words in a string.

In [9]:
string = input("Enter a String:")
word = string.split()
reversed_str = " ".join(word[::-1])
print("Reversed String:", reversed_str)

Enter a String: Cricket is a Sport

Reversed String: Sport a is Cricket

### 23. Check if a string is alphanumeric.

In [6]:
string = input("Enter a String:")
if string.isalnum() :
    print(f"'{string}' is alphanumeric")
else :
    print(f"'{string}' is not alphanumeric")

Enter a String: P8ie92ewe20k

'P8ie92ewe20k' is alphanumeric

### 24. Extract all digits from a string.

In [10]:
string = input("Enter a String: ")
digits = ''
for char in string:
    if char.isdigit():
        digits += char
if digits:
    print("Extracted Digits:", digits)
else:
    print(string, "does not contain any digits")

Enter a String:  The Price of a Mobile is Rs 20000

Extracted Digits: 20000

### 25. Extract all alphabets from a string.

In [17]:
string = input("Enter a String:")
alphabates = ""
for char in string :
    if char.isalpha() :
        alphabates += char
if alphabates :
    print("Extracted Alphabates:", alphabates)
else :
    print(string, "does not contain any alphabates")

Enter a String: The Price of a Mobile is Rs 20000

Extracted Alphabates: ThePriceofaMobileisRs

### 26. Count the number of uppercase letters in a string.

In [41]:
string = input("Enter a String:")
count = 0
for i in string:
    if i.isupper():
        count += 1
print("The Number of Uppercase Letters in a String:", count)

Enter a String: Sunday

The Number of Uppercase Letters in a String: 1

### 27. Count the number of lowercase letters in a string.

In [45]:
string = input("Enter a String:")
count = 0
for i in string :
    if i.islower() :
        count += 1
print("The Number of Lowercase Letters in a String:", count)

Enter a String: Sunday

The Number of Lowercase Letters in a String: 5

### 28. Swap the case of each character in a string.

In [68]:
string = input("Enter a String:")
new_str = ""
for i in string :
    if i.isupper() :
        new_str += i.lower()
    elif i.islower() :
        new_str += i.upper()
    else :
        new_str += 1
print("Swapped String:", new_str)

Enter a String: abcd

Swapped String: ABCD

### 29. Remove a specific word from a string.

In [81]:
string = input("Enter a String:")
specific_word = input("Enter a Specific Word to Remove:")
new_str = string.replace(specific_word, "")
print("Modified String:", new_str)

Enter a String: James Baburao Bond
Enter a Specific Word to Remove: Baburao

Modified String: James  Bond

### 30. Check if a string is a valid email address.

In [15]:
import re
email = input("Enter a String:")
if re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', email):
    print("Valid email")
else:
    print("Invalid email")

Enter a String: person@gmail.com

Valid email

### 31. Extract the username from an email address string.

In [5]:
email = input("Enter the Email Address :")
username = email.split('@')[0]
print("Username :", username)

Enter the Email Address : person@gmail.com

Username : person

### 32. Extract the domain name from an email address string.

In [6]:
email = input("Enter the Email Address :")
domain = email.split('@')[1]
print("Domain Name :", domain)

Enter the Email Address : person@gmail.com

Domain Name : gmail.com

### 33. Replace multiple spaces in a string with a single space.

In [6]:
string = input("Enter a String :")
string_with_single_spaces = ' '.join(string.split())
print("String After Removing Multiple Spaces :",string_with_single_spaces)

Enter a String : S                 P                    A              C                 E

String After Removing Multiple Spaces : S P A C E

### 34. Check if a string is a valid URL.

In [13]:
import re

string = input("Enter a String :")
match = re.search(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', string)
if match:
    valid_url = match.group()
    print("Valid URL:", valid_url)
else:
    print("No valid URL found")

Enter a String : https://gooogle.com/

Valid URL: https://gooogle.com/

### 35. Extract the protocol (http or https) from a URL string.

In [14]:
url = input("Enter a String :")
protocol = url.split(":")[0]
print("Protocol :", protocol)

Enter a String : https://gooogle.com/

Protocol : https

### 36. Find the frequency of each character in a string.

In [3]:
string = input("Enter a string :")
frequency = {}
for char in string :
    if char in frequency :
        frequency[char] += 1
    else :
        frequency[char] = 1
for char, count in frequency.items() :
    print(f"Character : ''{char}, Frequency : '{count}'")

Enter a string : Data Science

Character : ''D, Frequency : '1'
Character : ''a, Frequency : '2'
Character : ''t, Frequency : '1'
Character : '' , Frequency : '1'
Character : ''S, Frequency : '1'
Character : ''c, Frequency : '2'
Character : ''i, Frequency : '1'
Character : ''e, Frequency : '2'
Character : ''n, Frequency : '1'

### 37. Remove all punctuation from a string.

In [39]:
import string

input_string = input("Enter a String :")
modified_str = input_string.translate(str.maketrans('', '', string.punctuation))
print("After Removing Punctuation :" , modified_str)

Enter a String : Yeah! That's Great

After Removing Punctuation : Yeah Thats Great

### 38. Check if a string contains only digits.

In [1]:
string = input("Enter a String :")
if string.isdigit():
    print("String Contains Only Digits")
else:
    print("String Contains Non Digit Characters")

Enter a String : 123456

String Contains Only Digits

### 39. Check if a string contains only alphabets.

In [6]:
string = input("Enter a String :")
if string.isalpha() :
    print("String Contains Only Alphabates")
else :
    print("String contain Non Alphabatic Characters")

Enter a String : ABCDEF

String Contains Only Alphabates

### 40. Convert a string to a list of characters.

In [10]:
string = input("Enter a String :")
char_list = list(string)
print("Converted List :", char_list)

Enter a String : ORANGE

Converted List : ['O', 'R', 'A', 'N', 'G', 'E']

### 41. Check if two strings are anagrams.

In [24]:
string1 = input("Enter a String :").replace(" ", "").lower()
string2 = input("Enter a String :").replace(" ", "").lower()
if sorted(string1) == sorted(string2) :
    print(f"'{string1} and {string2}',are Anagram :",True)
else :
    print(f"'{string1} and {string2}' are not anagrams :",False)

Enter a String : Silent
Enter a String : Listen

'silent and listen',are Anagram : True

### 42. Encode a string using a Caesar cipher.

In [41]:
def caesar_cipher(text, shift):
    result = ""
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):
            result += chr((ord(char) + shift - 65) % 26 + 65)
        else:
            result += chr((ord(char) + shift - 97) % 26 + 97)
    return result

text = "PYTHON PROGRAMMING"
shift = 3
print("Text: " + text)
print("Shift: " + str(shift))
print("Cipher: " + caesar_cipher(text, shift))

Text: PYTHON PROGRAMMING
Shift: 3
Cipher: SBWKRQqSURJUDPPLQJ

### 43. Decode a Caesar cipher encoded string.

In [45]:
def caesar_decipher(text, shift):
    result = ""

    for i in range(len(text)):
        char = text[i]

        if (char.isupper()):
            result += chr((ord(char) - shift - 65) % 26 + 65)
        else:
            result += chr((ord(char) - shift - 97) % 26 + 97)

    return result


if __name__ == "__main__":
    text = "SBWKRQqSURJUDPPLQJ"
    shift = 3

    print("Text: " + text)
    print("Shift: " + str(shift))
    print("Decipher: " + caesar_decipher(text, shift))

Text: SBWKRQqSURJUDPPLQJ
Shift: 3
Decipher: PYTHONnPROGRAMMING

### 44. Find the most frequent word in a string.

In [57]:
from collections import Counter

string = input("Enter a String :")
word_count = Counter(string.split())
most_frequent_word = word_count.most_common(1)[0][0]
print("Most Frequent Word in a String :", most_frequent_word)

Enter a String : Data Science, Data Engineering, Big Data, Data Analytics

Most Frequent Word in a String : Data

### 45. Find all unique words in a string.

In [77]:
string = input("Enter a String :")
unique_words = set(string.split())
print("Unique Words in a String :" ,unique_words)

Enter a String : Good Morning, Good Afternoon, Good Evening

Unique Words in a String : {'Afternoon,', 'Good', 'Evening', 'Morning,'}

### 46. Count the number of syllables in a string.

In [80]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    for char in word:
        if char in vowels:
            count += 1
    return count

string = input("Enter a String :")
words = string.split()
syllable_count = sum(count_syllables(word) for word in words)
print("Number of Syllables :", syllable_count)

Enter a String : Electricity

Number of Syllables : 4

### 47. Check if a string contains any special characters.

In [85]:
import re

string = input("Enter a String: ")
if re.search(r'[!@#$%^&*(),.?":{}|<>]', string):
    print(string, "Contains special characters")
else:
    print(string, "Does not contain special characters")

Enter a String:  special@iad**022e

special@iad**022e Contains special characters

### 48. Remove the nth word from a string.

In [93]:
def remove_nth_word(text, n):
    words = text.split()
    if n <= len(words):
        del words[n-1]
    return ' '.join(words)


text = input("Enter a String :")
n = 3
new_text = remove_nth_word(text, n)
print("Modified String :", new_text)

Enter a String : Monday, Tuesday, Wednesday

Modified String : Monday, Tuesday,

### 49. Insert a word at the nth position in a string.

In [97]:
def insert_word_at_position(text, word, position):
    words = text.split()
    words.insert(position, word)
    return ' '.join(words)


text = input("Enter a String :")
word = input("Enter a word :")
position = 3
new_text = insert_word_at_position(text, word, position)
print("Modified String :", new_text)

Enter a String : This is Sufficient
Enter a word : Than More

Modified String : This is Sufficient Than More

### 50. Convert a CSV string to a list of lists.

In [100]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result

csv_data = "Name, Age, Country\nThomas, 32, Germany\nAurther, 30, Italy\nJohn, 25, France"
list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['Thomas', ' 32', ' Germany']
['Aurther', ' 30', ' Italy']
['John', ' 25', ' France']

# **List Based Practice Problem :**
---

### 1. Create a list with integers from 1 to 10.

In [3]:
List = list(range(1,11))
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [7]:
List = [1,2,3,4,5]
count = 0
for i in List :
    count += 1
print("Length of the List :", count)

Length of the List : 5

### 3. Append an element to the end of a list.

In [25]:
List = list(range(1,10))
print("Original List :", List)
List.append(10)
print("List After Appending an Element :", List)

Original List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
List After Appending an Element : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 4. Insert an element at a specific index in a list.

In [36]:
List = [10,20,30,40,50,60,70,80]
print("Original List :", List)
List.insert(1,123)
print("Modified List :", List)

Original List : [10, 20, 30, 40, 50, 60, 70, 80]
Modified List : [10, 123, 20, 30, 40, 50, 60, 70, 80]

### 5. Remove an element from a list by its value.

In [39]:
List = [10,20,30,40,50,60,70,80]
print("Original List :", List)
List.remove(40)
print("List After Removing an Element :", List)

Original List : [10, 20, 30, 40, 50, 60, 70, 80]
List After Removing an Element : [10, 20, 30, 50, 60, 70, 80]

### 6. Remove an element from a list by its index.

In [53]:
List = [10,20,30,40,50,60,70,80]
print("Original List :", List)
List.pop(4)
print("List After Removing an Element :", List)

Original List : [10, 20, 30, 40, 50, 60, 70, 80]
List After Removing an Element : [10, 20, 30, 40, 60, 70, 80]

### 7. Check if an element exists in a list.

In [58]:
List =  [1,2,3,4,56,85,41,23,5]
print("List :", List)
element = 85
if element in List :
    print(f" {element} Exists in a List")
else :
    print(f" {element} Does Not Exists a List")

List : [1, 2, 3, 4, 56, 85, 41, 23, 5]
 85 Exists in a List

### 8. Find the index of the first occurrence of an element in a list.

In [72]:
List = [1,2,3,4,5,6,3]
element = 3
index = List.index(element)
print(f"The Index of {element} is {index} ")

The Index of 3 is 2

### 9. Count the occurrences of an element in a list.

In [80]:
List = ["Amazon", "Flipkart", "Walmart", "Amazon", "Myntra", "Amazon"]
element_to_count = "Amazon"
count = List.count(element_to_count)
print(f"The Element '{element_to_count}' Occurs {count} Times in the List.")

The Element 'Amazon' Occurs 3 Times in the List.

### 10. Reverse the order of elements in a list.

In [81]:
List = [45,23,69,85,7,1,44,20,75,10]
print("Origonal List :", List)
List.reverse()
print("Reversed List :", List)

Origonal List : [45, 23, 69, 85, 7, 1, 44, 20, 75, 10]
Reversed List : [10, 75, 20, 44, 1, 7, 85, 69, 23, 45]

### 11. Sort a list in ascending order.

In [3]:
List = [522,96,38,74,10,25,97,32,41,85,2417,23,62]
print("Original List :", List)
List.sort()
print("Sorted List :", List)

Original List : [522, 96, 38, 74, 10, 25, 97, 32, 41, 85, 2417, 23, 62]
Sorted List : [10, 23, 25, 32, 38, 41, 62, 74, 85, 96, 97, 522, 2417]

### 12. Sort a list in descending order.

In [5]:
List = [522,96,38,74,10,25,97,32,41,85,2417,23,62]
print("Original List :", List)
List.sort(reverse = True)
print("Sorted List :", List)

Original List : [522, 96, 38, 74, 10, 25, 97, 32, 41, 85, 2417, 23, 62]
Sorted List : [2417, 522, 97, 96, 85, 74, 62, 41, 38, 32, 25, 23, 10]

### 13. Create a list of even numbers from 1 to 20.

In [38]:
List = list(range(1,21))
even_numbers = []
for i in List :
    if i%2 == 0 :
        even_numbers.append(i)
print("List of Even Numbers :", even_numbers)

List of Even Numbers : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [3]:
List = list(range(1,21))
odd_numbers = []
for i in List :
    if i%2 == 1 :
        odd_numbers.append(i)
print("List of Odd Numbers :", odd_numbers)

List of Odd Numbers : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [19]:
List = list(range(1,21))
total_sum = sum(List)
print("Sum of All Elements :", total_sum)

Sum of All Elements : 210

### 16. Find the maximum value in a list.

In [27]:
List = list(range(1,21))
print("List :", List)
max_value = max(List)
print("Maximum Value in a List :", max_value)

List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Maximum Value in a List : 20

### 17. Find the minimum value in a list.

In [1]:
List = list(range(1,21))
print("List :", List)
min_value = min(List)
print("Minimum Value in a List :", min_value)

List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Minimum Value in a List : 1

### 18. Create a list of squares of numbers from 1 to 10.

In [38]:
List = list(range(1,11))
print("List :", List)
squares = []
for i in List :
    squares.append(i**2)
print("List of Squares of Numbers :", squares)

List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List of Squares of Numbers : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [26]:
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [91, 66, 28, 94, 2, 97, 60, 46, 50, 58]

### 20. Remove duplicates from a list.

In [29]:
List = [10,20,10,30,40,30,40,50,10,30]
print("List :", List)
unique_list = list(set(List))
print("List Without Duplicates :", unique_list)

List : [10, 20, 10, 30, 40, 30, 40, 50, 10, 30]
List Without Duplicates : [40, 10, 50, 20, 30]

### 21. Find the common elements between two lists.

In [34]:
lst1 = [10,20,30,40,30,50,60,50,90]
print("lst1 :", lst1)
lst2 = [22,41,52,50,10,30,63,90,70]
print("lst2 :", lst2)
common_lst = list(set(lst1) & set(lst2))
print("Common Elements :", common_lst)

lst1 : [10, 20, 30, 40, 30, 50, 60, 50, 90]
lst2 : [22, 41, 52, 50, 10, 30, 63, 90, 70]
Common Elements : [10, 50, 90, 30]

### 22. Find the difference between two lists.

In [36]:
lst1 = [10,20,30,40,30,50,60,50,90]
print("lst1 :", lst1)
lst2 = [22,41,52,50,10,30,63,90,70]
print("lst2 :", lst2)
difference = list(set(lst1).difference(lst2))
print("Difference Between Two Lists :", difference)

lst1 : [10, 20, 30, 40, 30, 50, 60, 50, 90]
lst2 : [22, 41, 52, 50, 10, 30, 63, 90, 70]
Difference Between Two Lists : [20, 40, 60]

### 23. Merge two lists.

In [67]:
list1 = [1,2,3,4,5]
print("List 1 :", list1)
list2 = [6,7,8,9,10]
print("List 2 :", list2)
Merged_lst = list1 + list2
print("Merged List :", Merged_lst)

List 1 : [1, 2, 3, 4, 5]
List 2 : [6, 7, 8, 9, 10]
Merged List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 24. Multiply all elements in a list by 2.

In [68]:
List = [1,2,3,4,5]
print("Original List :", List)
Mul = []
for i in List :
    Mul.append(i * 2)
print("Multiplied List :", Mul)

Original List : [1, 2, 3, 4, 5]
Multiplied List : [2, 4, 6, 8, 10]

### 25. Filter out all even numbers from a list.

In [73]:
List = list(range(1,21))
print("Original List :", List)
even_num = []
for i in List :
    if i%2 == 0 :
        even_num.append(i)
print("\nList of All Even Numbers :", even_num)

Original List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

List of All Even Numbers : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 26. Convert a list of strings to a list of integers.

In [77]:
List = ['1', '2', '3', '4', '5']
print("Original List :", List)
integer_list = []
for i in List :
    integer_list.append(int(i))
print("Integer List :", integer_list)

Original List : ['1', '2', '3', '4', '5']
Integer List : [1, 2, 3, 4, 5]

### 27. Convert a list of integers to a list of strings.

In [78]:
List = [1, 2, 3, 4, 5]
print("Original List :", List)
str_list = []
for i in List :
    str_list.append(str(i))
print("List of String :", str_list)

Original List : [1, 2, 3, 4, 5]
List of String : ['1', '2', '3', '4', '5']

### 28. Flatten a nested list.

In [81]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("Nested List :", nested_list)
flattened_list = [i for sublist in nested_list for i in sublist]
print("Flattened List :", flattened_list)

Nested List : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened List : [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 29. Create a list of the first 10 Fibonacci numbers.

In [83]:
fib1, fib2 = 0, 1
fib_numbers = []
for i in range(10):
    fib_numbers.append(fib1)
    fib1, fib2 = fib2, fib1 + fib2
print("First 10 Fibonacci numbers:", fib_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [85]:
lst = [1, 2, 3, 4, 5]
print("List is sorted:", lst == sorted(lst))

lst = [5, 3, 2, 4, 1]
print("List is sorted:", lst == sorted(lst))

List is sorted: True
List is sorted: False

### 31. Rotate a list to the left by `n` positions.

In [23]:
def rotate_left(lst, n) :
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

List = [1,2,3,4,5,6,7,8,9,10]
n= 3
rotated_list = rotate_left(List, n)
print("Rotated List :", rotated_list)

Rotated List : [4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

### 32. Rotate a list to the right by `n` positions.

In [24]:
def rotate_right(lst, n) :
    n = n % len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated

List = [1,2,3,4,5,6,7,8,9,10]
n= 3
rotated_list = rotate_right(List, n)
print("Rotated List :", rotated_list)

Rotated List : [8, 9, 10, 1, 2, 3, 4, 5, 6, 7]

### 33. Create a list of prime numbers up to 50.

In [5]:
List = list(range(1,51))
prime_num = []
for num in List :
    if num > 1 :
        for i in range(2,num) :
            if(num % i) == 0 :
                break
        else :
            prime_num.append(num)
print("Prime Numbers :", prime_num)

Prime Numbers : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [2]:
def chunk_list(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]

numbers = list(range(1, 21))
chunk_size = 5
chunks = chunk_list(numbers, chunk_size)
print(chunks)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]]

### 35. Find the second largest number in a list.

In [10]:
List = list(range(1, 21))
print("List :", List)
sorted_list = sorted(List)
second_largest = sorted_list[-2]
print("Second Largest Number :",second_largest)

List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Second Largest Number : 19

### 36. Replace every element in a list with its square.

In [9]:
List = list(range(6))
print(" Original List :", List)
squared_list = [i ** 2 for i in List]
print("Squared List :", squared_list)

 Original List : [0, 1, 2, 3, 4, 5]
Squared List : [0, 1, 4, 9, 16, 25]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [3]:
List = ["Apple", "Samsung", "Oneplus", "Oppo", "Vivo"]
print("Original List :", List)
Dict = {element : index for index, element in enumerate(List)}
print("converted Dictionary :", Dict)

Original List : ['Apple', 'Samsung', 'Oneplus', 'Oppo', 'Vivo']
converted Dictionary : {'Apple': 0, 'Samsung': 1, 'Oneplus': 2, 'Oppo': 3, 'Vivo': 4}

### 38. Shuffle the elements of a list randomly.

In [8]:
import random

List = [10,20,30,40,50,60,70,80]
print("Original List :", List)
random.shuffle(List)
print("Shuffled List :", List)

Original List : [10, 20, 30, 40, 50, 60, 70, 80]
Shuffled List : [20, 50, 70, 80, 60, 10, 40, 30]

### 39. Create a list of the first 10 factorial numbers.

In [15]:
factorial_list = []
for num in range(10):
    factorial = 1
    for i in range(1, num + 1):
        factorial = factorial * i
    factorial_list.append(factorial)
print("List of the first 10 factorial numbers: ", factorial_list)

List of the first 10 factorial numbers:  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [7]:
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]
for i in list1 :
    if i in list2 :
        print("The Lists Have Atleast One Common Element")
        break 
else :
    print("The Lists Do Not Have Any Common Element")

The Lists Have Atleast One Common Element

### 41. Remove all elements from a list.

In [12]:
List = [1,2,3,4,5]
print("List :", List)
List.clear()
print("Empty List :", List)

List : [1, 2, 3, 4, 5]
Empty List : []

### 42. Replace negative numbers in a list with 0.

In [6]:
List = [1,-9,-52,87,-63,-2,-8,-7]
for i in range(len(List)) :
    if List[i] < 0 :
        List[i] = 0
print("List After Replacing Negative Numbers With 0 :", List)

List After Replacing Negative Numbers With 0 : [1, 0, 0, 87, 0, 0, 0, 0]

### 43. Convert a string into a list of words.

In [12]:
string = input("Enter the String :")
word_list = string.split()
print("Converted List :", word_list)

Enter the String : Python Programming Language

Converted List : ['Python', 'Programming', 'Language']

### 44. Convert a list of words into a string.

In [13]:
List = ['Python', 'Programming', 'Language']
print("List :", List)
string = " ".join(List)
print("Converted String :", string)

List : ['Python', 'Programming', 'Language']
Converted String : Python Programming Language

### 45. Create a list of the first `n` powers of 2.

In [16]:
n = 5
List = [2 ** i for i in range(n)]
print("List of First", n, "Powers of 2 :", List)

List of First 5 Powers of 2 : [1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [18]:
List = ["Syllabus", "Subject", "Contents", "Introduction"]
print("List :", List)
longest_string = max(List, key = len)
print("Longest String in a List :", longest_string)

List : ['Syllabus', 'Subject', 'Contents', 'Introduction']
Longest String in a List : Introduction

### 47. Find the shortest string in a list of strings.

In [19]:
List = ["Syllabus", "Subject", "Contents", "Introduction"]
print("List :", List)
shortest_string = min(List, key = len)
print("Longest String in a List :", shortest_string)

List : ['Syllabus', 'Subject', 'Contents', 'Introduction']
Longest String in a List : Subject

### 48. Create a list of the first `n` triangular numbers.

In [22]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 10

triangular_list = triangular_numbers(n)

print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

### 49. Check if a list contains another list as a subsequence.

In [24]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [5, 6, 7]

if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

### 50. Swap two elements in a list by their indices.

In [1]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

# **Tuple Based Practice Problem :**
---

### 1. Create a tuple with integers from 1 to 5.

In [7]:
Tuple = (1,2,3,4,5)
print(Tuple)
type(Tuple)

(1, 2, 3, 4, 5)

tuple

### 2. Access the third element of a tuple.

In [9]:
Tuple = (1,2,3,4,5)
third_element = Tuple[2]
print("Tuple :", Tuple)
print("The Third Element of a Tuple is :", third_element)

Tuple : (1, 2, 3, 4, 5)
The Third Element of a Tuple is : 3

### 3. Find the length of a tuple without using the `len()` function.

In [12]:
Tuple = (1,2,3,4,5)
count = 0
for i in Tuple :
    count += 1
print("Tuple :", Tuple)
print("The Length of a Tuple is :",count)

Tuple : (1, 2, 3, 4, 5)
The Length of a Tuple is : 5

### 4. Count the occurrences of an element in a tuple.

In [14]:
Tuple = (10,20,30,40,50,30,50,20,30)
occurance = Tuple.count(50)
print("Tuple :", Tuple)
print("The occurance of an Element 50 in a Tuple is :", occurance)

Tuple : (10, 20, 30, 40, 50, 30, 50, 20, 30)
The occurance of an Element 50 in a Tuple is : 2

### 5. Find the index of the first occurrence of an element in a tuple.

In [22]:
Tuple = (10,20,30,40,50,30,50,20,30)
element = 30
index = Tuple.index(element)
(print(f"The first occurrence of {element} is at index {index}."))

The first occurrence of 30 is at index 2.

### 6. Check if an element exists in a tuple.

In [32]:
Tuple = (10,20,30,40,50)
element_to_check = 20 
if element_to_check in Tuple:
    print(f"{element_to_check} Exists in a Tuple.")
else:
    print(f"{element_to_check} Does Not Exists in Tuple.")

20 Exists in a Tuple.

### 7. Convert a tuple to a list.

In [33]:
Tuple = (10,20,30,40,50)
List = list(Tuple)
print("Tuple :", Tuple)
print("Converted List :", List)

Tuple : (10, 20, 30, 40, 50)
Converted List : [10, 20, 30, 40, 50]

### 8. Convert a list to a tuple.

In [34]:
List = [10,20,30,40,50]
Tuple = tuple(List)
print("List :", List)
print("Converted Tuple :", Tuple)

List : [10, 20, 30, 40, 50]
Converted Tuple : (10, 20, 30, 40, 50)

### 9. Unpack the elements of a tuple into variables.

In [35]:
Tuple = (10,20,30)
Var1, Var2, Var3 = Tuple
print("Var1 :",Var1)
print("Var2 :",Var2)
print("Var3 :",Var3)

Var1 : 10
Var2 : 20
Var3 : 30

### 10. Create a tuple of even numbers from 1 to 10.

In [4]:
even_num_list = [num for num in range (2,11,2)]
even_num_tuples = tuple(even_num_list)
print("Tuple of Even Numbers :", even_num_tuples)

Tuple of Even Numbers : (2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [12]:
odd_num_list = [num for num in range (1,11,2)]
odd_num_tuples = tuple(odd_num_list)
print("Tuple of Odd Numbers :", odd_num_tuples)

Tuple of Odd Numbers : (1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [13]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple :", concatenated_tuple)

Concatenated Tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 13. Repeat a tuple three times.

In [14]:
Tuple = (1,2,3,4,5)
repeated_tuple = Tuple * 3
print("Repeated Tuple :", repeated_tuple)

Repeated Tuple : (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### 14. Check if a tuple is empty.

In [ ]:
Tuple = (1,2,3,4,5)
print("Tuple :", Tuple)
if len(Tuple) == 0 :
    print("Tuple is Empty")
else :
    print("Tuple iS Not Empty")

Tuple : (1, 2, 3, 4, 5)
Tuple iS Not Empty

### 15. Create a nested tuple.

In [29]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
print("Nested Tuple :", nested_tuple)

Nested Tuple : ((1, 2, 3), ('a', 'b', 'c'), (True, False))

### 16. Access the first element of a nested tuple.

In [30]:
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
first_element = nested_tuple[0]
print("First Element of the Nested Tuple :", first_element)

First Element of the Nested Tuple : (1, 2, 3)

### 17. Create a tuple with a single element.

In [37]:
single_element_tuple = (27,)
print("Single Element Tuple :",single_element_tuple)

Single Element Tuple : (27,)

### 18. Compare two tuples.

In [41]:
tuple1 = (10, 20, 30)
tuple2 = (20, 40, 60)
print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

### 19. Delete a tuple.

In [48]:
Tuple = (1,2,3,4,5,6)
del Tuple
print(Tuple)

NameError: name 'Tuple' is not defined

### 20. Slice a tuple.

In [53]:
Tuple = (1,2,3,4,5,6)
sliced_tuple = Tuple[1:5]
print("Tuple :", Tuple)
print("Sliced Tuple :",sliced_tuple)

Tuple : (1, 2, 3, 4, 5, 6)
Sliced Tuple : (2, 3, 4, 5)

### 21. Find the maximum value in a tuple.

In [3]:
Tuple = (10,20,50,60,92,75,40)
max_value = max(Tuple)
print("Tuple :", Tuple)
print("Maximum Value :", max_value)

Tuple : (10, 20, 50, 60, 92, 75, 40)
Maximum Value : 92

### 22. Find the minimum value in a tuple.

In [4]:
Tuple = (10,20,50,60,92,75,40)
min_value = min(Tuple)
print("Tuple :", Tuple)
print("Minimum Value :", min_value)

Tuple : (10, 20, 50, 60, 92, 75, 40)
Minimum Value : 10

### 23. Convert a string to a tuple of characters.

In [13]:
string = "Student"
tuple_of_characters = tuple(string)
print("String :", string)
print("Tuple of Characters :", tuple_of_characters)

String : Student
Tuple of Characters : ('S', 't', 'u', 'd', 'e', 'n', 't')

### 24. Convert a tuple of characters to a string.

In [16]:
tuple_of_characters = ('S', 't', 'u', 'd', 'e', 'n', 't')
string = "".join(tuple_of_characters)
print("Tuple of Characters :", tuple_of_characters)
print("Converted string :", string)

Tuple of Characters : ('S', 't', 'u', 'd', 'e', 'n', 't')
Converted string : Student

### 25. Create a tuple from multiple data types.

In [18]:
mixed_tuple = (1, True, 3.24, "Welcome")
print("Mixed Tuple :", mixed_tuple)

Mixed Tuple : (1, True, 3.24, 'Welcome')

### 26. Check if two tuples are identical.

In [28]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (4,5,6)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are Identical :", are_identical1)
print("tuple1 and tuple3 are Identical :", are_identical2)

tuple1 and tuple2 are Identical : True
tuple1 and tuple3 are Identical : False

### 27. Sort the elements of a tuple.

In [34]:
Tuple = (50,30,10,20,40,)
sorted_tuple = tuple(sorted(Tuple))
print("Tuple :", Tuple)
print("Sorted Tuple :", sorted_tuple)

Tuple : (50, 30, 10, 20, 40)
Sorted Tuple : (10, 20, 30, 40, 50)

### 28. Convert a tuple of integers to a tuple of strings.

In [49]:
tuple_of_integers = (1,2,3,4,5,6,7,8)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("Tuple of Integers :", tuple_of_integers)
print("Tuple of Strings :", tuple_of_string)

Tuple of Integers : (1, 2, 3, 4, 5, 6, 7, 8)
Tuple of Strings : ('1', '2', '3', '4', '6', '7', '8')

### 29. Convert a tuple of strings to a tuple of integers.

In [3]:
tuple_of_strings = ('1','2','3','4','5','6','7','8')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of Strings :", tuple_of_strings)
print("Tuple of Integers  :", tuple_of_integers)

Tuple of Strings : ('1', '2', '3', '4', '5', '6', '7', '8')
Tuple of Integers  : (1, 2, 3, 4, 5, 6, 7, 8)

### 30. Merge two tuples.

In [55]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
merged_tuple = tuple1 + tuple2
print("Tuple 1 :", tuple1)
print("Tuple 2 :", tuple2)
print("Merged Tuple :", merged_tuple)

Tuple 1 : (1, 2, 3)
Tuple 2 : (4, 5, 6)
Merged Tuple : (1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [59]:
def flatten_tuple(nested_tuple):
    result = []
    for i in nested_tuple:
        if isinstance(i, tuple):
            result.extend(flatten_tuple(i))
        else:
            result.append(i)
    return tuple(result)

# Test the function
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
print("Nested Tuple :", nested_tuple)
print("Flattened Tuple :", flatten_tuple(nested_tuple))

Nested Tuple : (1, (2, 3), (4, (5, 6)), 7)
Flattened Tuple : (1, 2, 3, 4, 5, 6, 7)

### 32. Create a tuple of the first 5 prime numbers.

In [19]:
primes = []
num = 2
while len(primes) < 5 :
    for i in primes :
        if num % i == 0 :
            break
    else :
        primes.append(num)
    num += 1
prime_numbers = tuple(primes)
print("Tuple of the First 5 Prime Numbers :", prime_numbers)

Tuple of the First 5 Prime Numbers : (2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [28]:
def is_palindrome(tup) :
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a Palindrome :", is_palindrome1)
print("non_palindrome_tuple is a palindrome :", is_palindrome2)

palindrome_tuple is a Palindrome : True
non_palindrome_tuple is a palindrome : False

### 34. Create a tuple of squares of numbers from 1 to 5.

In [47]:
Tuple = tuple(i ** 2 for i in range(1,6))
print("Tuple of Squares :" ,Tuple)

Tuple of Squares : (1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [49]:
Tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in Tuple if num % 2 != 0)
print("Filtered Tuple :" ,filtered_tuple)

Filtered Tuple : (1, 3, 5, 7, 9)

### 36. Multiply all elements in a tuple by 2.

In [54]:
Tuple = (1, 2, 3, 4, 5)
multiplied_tuple = tuple(num * 2 for num in Tuple)
print("Multiplied Tuple :" ,multiplied_tuple)

Multiplied Tuple : (2, 4, 6, 8, 10)

### 37. Create a tuple of random numbers.

In [90]:
import random
random_tuple = tuple(random.randint(1,100) for i in range(10))
print("Random Tuple :" ,random_tuple)

Random Tuple : (97, 48, 20, 17, 90, 71, 16, 17, 40, 37)

### 38. Check if a tuple is sorted.

In [92]:
def is_sorted(tup) :
    return tup == tuple(sorted(tup))

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 4, 3, 2, 1)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is Sorted :" ,is_sorted1)
print("unsorted_tuple is Sorted :" ,is_sorted2)

sorted_tuple is Sorted : True
unsorted_tuple is Sorted : False

### 39. Rotate a tuple to the left by `n` positions.

In [93]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [94]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]  
    return rotated_tuple


my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [16]:
fib1, fib2 = 0, 1
fib_numbers = []
for i in range(5) :
    fib_numbers.append(fib1)
    fib1, fib2 = fib2, fib1 + fib2
fib_numbers = tuple(fib_numbers)
print("First 5 Fibonacci Numbers :" ,fib_numbers)

First 5 Fibonacci Numbers : (0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [26]:
input_str = input("Enter Elements Seperated by Commas :")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User Tuple :" ,user_tuple)

Enter Elements Seperated by Commas : 1,2,3,4,5

User Tuple : ('1', '2', '3', '4', '5')

### 43. Swap two elements in a tuple.

In [7]:
tup = ('a', 'b', 'c', 'd', 'e')
List = list(tup)
List[1], List[3] = List[3], List[1]
tup = tuple(List)
print("Swapped tuple :", tup)

Swapped tuple : ('a', 'd', 'c', 'b', 'e')

### 44. Reverse the elements of a tuple.

In [10]:
Tuple = (1, 2, 3, 4, 5)
reversed_tuple = Tuple[::-1]
print("Reversed Tuple :" ,reversed_tuple)

Reversed Tuple : (5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [13]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the First", n, "Powers of 2 :" ,powers_of_2_tuple)

Tuple of the First 5 Powers of 2 : (1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [15]:
string_tuple = ("Lemon", "Grapefruit", "Bergamot", "Neroli", "Lotus", "Pineapple", "Patchouli", "Sandlewood", "Musk")
longest_string = max(string_tuple, key = len)
print("Longest String :" ,longest_string)

Longest String : Grapefruit

### 47. Find the shortest string in a tuple of strings.

In [16]:
string_tuple = ("Lemon", "Grapefruit", "Bergamot", "Neroli", "Lotus", "Pineapple", "Patchouli", "Sandlewood", "Musk")
shortest_string = min(string_tuple, key = len)
print("Shortest String :" ,shortest_string)

Shortest String : Musk

### 48. Create a tuple of the first `n` triangular numbers.

In [1]:
n = 5
triangular_numbers_tuple = tuple(i * (i+1) // 2 for i in range(1, n +1))
print("Tuple of the First", n, "Triangular Numbers :" ,triangular_numbers_tuple)

Tuple of the First 5 Triangular Numbers : (1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [2]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [1]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of Alternating 1s and 0s :" ,alternating_tuple)

Tuple of Alternating 1s and 0s : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# **Set Based Practice Problem :**
---

### 1. Create a set with integers from 1 to 5.

In [3]:
Set = {1,2,3,4,5}
print("Set :" ,Set)

Set : {1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [6]:
Set = {1,2,3,4,5}
print("Original Set :" ,Set)
element_to_add = 6
Set.add(element_to_add)
print("Set After Adding Element :" ,Set)

Original Set : {1, 2, 3, 4, 5}
Set After Adding Element : {1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [7]:
Set = {1,2,3,4,5}
print("Original Set :" ,Set)
element_to_remove = 3
Set.remove(3)
print("Set After Removing" ,element_to_remove, ":" ,Set)

Original Set : {1, 2, 3, 4, 5}
Set After Removing 3 : {1, 2, 4, 5}

### 4. Check if an element exists in a set.

In [14]:
Set = {1,2,3,4,5,6,7,8,9,10}
element_to_check = int(input("Enter the Element to Check"))
if element_to_check in Set :
    print(f"{element_to_check} Exists in the Set")
else :
    print(f"{element_to_check} Does not Exists in the Set")

Enter the Element to Check 5

5 Exists in the Set

### 5. Find the length of a set without using the `len()` function.

In [15]:
Set = {1,2,3,4,5,6,7,8,9,10}
count = 0
for i in Set :
    count += 1
print("Length of the Set :" ,count)

Length of the Set : 10

### 6. Clear all elements from a set.

In [17]:
Set = {1,2,3,4,5,6,7,8,9,10}
print("Original Set :" ,Set)
Set.clear()
print("Set After Clearing All The Elements :" ,Set)

Original Set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set After Clearing All The Elements : set()

### 7. Create a set of even numbers from 1 to 10.

In [18]:
even_numbers_set = set()
for i in range(1,11) :
    if i % 2 == 0 :
        even_numbers_set.add(i)
print("Set of Even Numbers :" ,even_numbers_set)

Set of Even Numbers : {2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [22]:
odd_numbers_set = set()
for i in range(1,11) :
    if i % 2 != 0 :
        odd_numbers_set.add(i)
print("Set of Odd Numbers :" ,odd_numbers_set)

Set of Odd Numbers : {1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [1]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
unoin_result = set1.union(set2)
print("Set 1 :" ,set1)
print("Set 2 :" ,set2)
print("Union of Set 1 and Set 2 :" ,unoin_result)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8}
Union of Set 1 and Set 2 : {1, 2, 3, 4, 5, 6, 7, 8}

### 10. Find the intersection of two sets.

In [2]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
intersection_result = set1.intersection(set2)
print("Set 1 :" ,set1)
print("Set 2 :" ,set2)
print("Intersection of Set 1 and Set 2 :" ,intersection_result)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2 : {4, 5}

### 11. Find the difference between two sets.

In [4]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
difference_set = set1.difference(set2)
print("Set 1 :" ,set1)
print("Set 2 :" ,set2)
print("Difference :" ,difference_set)

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {3, 4, 5, 6, 7}
Difference : {1, 2}

### 12. Check if a set is a subset of another set.

In [6]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}
is_subset = set1.issubset(set2)
print("Is set1 a Subset of set2 :" ,is_subset)

Is set1 a Subset of set2 : True

### 13. Check if a set is a superset of another set.

In [8]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
is_superset = set1.issuperset(set2)
print("Is set1 a Superset of set2 :" ,is_superset)

Is set1 a Superset of set2 : True

### 14. Create a set from a list.

In [10]:
List = [1,2,3,4,5,2,1,3,4]
Set = set(List)
print("Original List :" ,List)
print("Set from List :" ,Set)

Original List : [1, 2, 3, 4, 5, 2, 1, 3, 4]
Set from List : {1, 2, 3, 4, 5}

### 15. Convert a set to a list.

In [2]:
Set = {1,2,3,4,5,2,1,3,4}
List = list(Set)
print("Original Set :" ,Set)
print("List from Set :" ,List)

Original Set : {1, 2, 3, 4, 5}
List from Set : [1, 2, 3, 4, 5]

### 16. Remove a random element from a set.

In [15]:
import random
Set = {1,2,3,4,5,6,7,8,9,10}
print("Original Set :" ,Set)
random_element = random.choice(list(Set))
Set.remove(random_element)
print("Set After Removing" ,random_element, ":" ,Set)

Original Set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set After Removing 7 : {1, 2, 3, 4, 5, 6, 8, 9, 10}

### 17. Pop an element from a set.

In [16]:
Set = {1,2,3,4,5,6,7,8,9,10}
print("Original Set :" ,Set)
popped_element = Set.pop()
print("Popped Element :" ,popped_element)
print("Set After Popping :" ,Set)

Original Set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Popped Element : 1
Set After Popping : {2, 3, 4, 5, 6, 7, 8, 9, 10}

### 18. Check if two sets have no elements in common.

In [18]:
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6,7}
common_elements = set1.intersection(set2)
if not common_elements :
    print("The Two Sets Have No Elements In Commmon")
else :
    print("The Two Sets Have Common Elements :" ,common_elements)

The Two Sets Have Common Elements : {3, 4, 5, 6}

### 19. Find the symmetric difference between two sets.

In [19]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
symmetric_difference = set1 ^ set2
print("Symmetric Difference :" ,symmetric_difference)

Symmetric Difference : {1, 2, 3, 7, 8, 9}

### 20. Update a set with elements from another set.

In [20]:
set1 = {1,2,3}
set2 = {3,4,5}
print("Set 1 :" ,set1)
print("Set 2 :" ,set2)
set1.update(set2)
print("Updated Set 1 :" ,set1)

Set 1 : {1, 2, 3}
Set 2 : {3, 4, 5}
Updated Set 1 : {1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [20]:
primes = []
num = 2
while len(primes) < 5 :
    for i in primes :
        if num % i == 0 :
            break
    else :
        primes.append(num)
    num += 1
prime_numbers = set(primes)
print("Set of the First 5 Prime Numbers :" ,prime_numbers)

Set of the First 5 Prime Numbers : {2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [21]:
set1 = {1,2,3,4,5}
set2 = {3,4,1,2,5}
if set1 == set2 :
    print("The Sets are Identical")
else :
    print("The Sets are Not Identical")

The Sets are Identical

### 23. Create a frozen set.

In [26]:
List = [1,2,3,4,5]
frozen_set = frozenset(List)
print("Frozen Set :" ,frozen_set)

Frozen Set : frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [30]:
set1 = {1,2,3}
set2 = {4,5,6}
disjoint = set1.isdisjoint(set2)
print("Set 1 :" ,set1)
print("Set 2 :" ,set2)
print("Are the Sets Disjoint ? :" ,disjoint)

Set 1 : {1, 2, 3}
Set 2 : {4, 5, 6}
Are the Sets Disjoint ? : True

### 25. Create a set of squares of numbers from 1 to 5.

In [38]:
squares_set = set()
for i in range(1,6) :
    squares = i ** 2
    squares_set.add(squares)
print("Squares Set :" ,squares_set)

Squares Set : {1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [3]:
Set = {1,2,3,4,5}
even_num_set = set()
for i in Set :
    if i % 2 == 0 :
        even_num_set.add(i)
print("Original Set :" ,Set)
print("Even Numbers Set :" ,even_num_set)

Original Set : {1, 2, 3, 4, 5}
Even Numbers Set : {2, 4}

### 27. Multiply all elements in a set by 2.

In [4]:
Set = {1,2,3,4,5}
multipled_set = set()
for i in Set :
    i = i * 2
    multipled_set.add(i)
print("Original Set :" ,Set)
print("Multiplied Set :",multipled_set)

Original Set : {1, 2, 3, 4, 5}
Multiplied Set : {2, 4, 6, 8, 10}

### 28. Create a set of random numbers.

In [ ]:
import random
random_numbers_set = {random.randint(1,100) for i in range(10)}
print("Generated Set of Randomm Numbers :" ,random_numbers_set)

Generated Set of Randomm Numbers : {96, 66, 67, 70, 6, 72, 43, 14, 15, 22}

### 29. Check if a set is empty.

In [38]:
Set = {}
print("Set :" ,Set)
if len(Set) == 0 :
    print("The Set is Empty")
else :
    print("The Set is Not Empty")

Set : {}
The Set is Empty

### 30. Create a nested set (hint: use frozenset).

In [1]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = (frozen_set1 , frozen_set2)
print("Nested Set :" ,nested_set)

Nested Set : (frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10}))

### 31. Remove an element from a set using the discard method.

In [6]:
Set = {1,2,3,4,5}
print("Initial Set :" ,Set)
removed_element = Set.discard(4)
print("Set After Removing an Element :" ,Set)

Initial Set : {1, 2, 3, 4, 5}
Set After Removing an Element : {1, 2, 3, 5}

### 32. Compare two sets.

In [10]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

### 33. Create a set from a string.

In [11]:
String = "Python"
Set = set(String)
print("String :" ,String)
print("Set from String :" ,Set)

String : Python
Set from String : {'o', 'P', 'h', 't', 'n', 'y'}

### 34. Convert a set of strings to a set of integers.

In [13]:
set_of_strings = {"123", "456" ,"789"}
set_of_integers = {int(i)for i in set_of_strings}
print("Set of Strings :" ,set_of_strings)
print("Set of Integers :" ,set_of_integers)

Set of Strings : {'456', '789', '123'}
Set of Integers : {456, 123, 789}

### 35. Convert a set of integers to a set of strings.

In [18]:
set_of_integers = {1,2,3,4,5}
set_of_strings = {str(i) for i in set_of_integers}
print("Set of Integers :" ,set_of_integers)
print("Set of Strings :" ,set_of_strings)

Set of Integers : {1, 2, 3, 4, 5}
Set of Strings : {'3', '4', '5', '2', '1'}

### 36. Create a set from a tuple.

In [21]:
Tuple = (1,2,3,4,5)
Set = set(Tuple)
print("Tuple :" ,Tuple)
print("Set from Tuple :" ,Set)

Tuple : (1, 2, 3, 4, 5)
Set from Tuple : {1, 2, 3, 4, 5}

### 37. Convert a set to a tuple.

In [25]:
Set = {1,2,3,4,5}
Tuple = tuple(Set)
print("Original Set :" ,Set)
print("Converted Tuple :" ,Tuple)

Original Set : {1, 2, 3, 4, 5}
Converted Tuple : (1, 2, 3, 4, 5)

### 38. Find the maximum value in a set.

In [26]:
Set = {10,20,30,40,50}
max_value = max(Set)
print("Set :" ,Set)
print("Maximum Value in a Set :" ,max_value)

Set : {50, 20, 40, 10, 30}
Maximum Value in a Set : 50

### 39. Find the minimum value in a set.

In [27]:
Set = {10,20,30,40,50}
min_value = min(Set)
print("Set :" ,Set)
print("Minimum Value in a Set :" ,min_value)

Set : {50, 20, 40, 10, 30}
Minimum Value in a Set : 10

### 40. Create a set from user input.

In [6]:
user_set = set()
print("Enter Elements for the Set (Type 'done' to Finish) :")
while True :
    user_input = input(">")
    if user_input.lower() == "done" :
        break
    user_set.add(user_input)
print("Final Set :" ,user_set)

Enter Elements for the Set (Type 'done' to Finish) :

> Python
> SQL
> Machine Learning
> Done

Final Set : {'Machine Learning', 'SQL', 'Python'}

### 41. Check if the intersection of two sets is empty.

In [3]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print("Set 1 :" ,set1)
print("Set 2 :" ,set2)
intersection_result = set1.intersection(set2)
if not intersection_result :
    print("The Intersection of Two Sets is Empty")
else :
    print("The Intersection of Two Sets is Not Empty")

Set 1 : {1, 2, 3, 4, 5}
Set 2 : {4, 5, 6, 7, 8}
The Intersection of Two Sets is Not Empty

### 42. Create a set of the first 5 Fibonacci numbers.

In [10]:
fibonacci_set = set()
a , b = 0  , 1
for i in range(6) :
    fibonacci_set.add(a)
    a ,b = b , a + b
print("Set of the first 5 fibonacci Numbers :" ,fibonacci_set)

Set of the first 5 fibonacci Numbers : {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [13]:
list_with_duplicates = [1,2,3,4,5,1,2,3,4,5]
unique_set = set(list_with_duplicates)
list_after_removing_duplicates = list(unique_set)
print("List With Duplicates :" ,list_with_duplicates)
print("List After Removing Duplicates :" ,list_after_removing_duplicates)

List With Duplicates : [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
List After Removing Duplicates : [1, 2, 3, 4, 5]

### 44. Check if two sets have the same elements, regardless of their count.

In [27]:
set1 = {1,2,3,3,2,1}
set2 = {3,2,1}
print("Set 1 :" ,set1)
print("Set 2 :" ,set2)
if set1 == set2 :
    print("The Sets have the Same Elements")
else :
      print("The Sets do not have the Same Elements")

Set 1 : {1, 2, 3}
Set 2 : {1, 2, 3}
The Sets have the Same Elements

### 45. Create a set of the first `n` powers of 2.

In [28]:
n = 5
powers_of_2_set = {2**i for i in range(n)}
print("First" , n , "Powers of 2 :" ,powers_of_2_set)

First 5 Powers of 2 : {1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [34]:
Set = {1,2,3,4,5}
List = [4,5,6,7]
list_to_set = set(List)
common_elements = Set.intersection(list_to_set)
print("Common Elements :" ,common_elements)

Common Elements : {4, 5}

### 47. Create a set of the first `n` triangular numbers.

In [42]:
n = int(input("Enter the Value of n :"))
triangular_numbers = {i *(i+1) // 2 for i in range(1, n + 1)}
print(f"The Set of First {n} Triangular Numbers :" ,triangular_numbers)

Enter the Value of n : 10

The Set of First 10 Triangular Numbers : {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

### 48. Check if a set contains another set as a subset.

In [45]:
set1 = {1,2,3,4,5}
set2 = {2,3}
print("set1 :" ,set1)
print("set2 :" ,set2)
subset = set2.issubset(set1)
if subset :
    print("set2 is a Subset of set1")
else :
    print("set2 is not a Subset of set1")

set1 : {1, 2, 3, 4, 5}
set2 : {2, 3}
set2 is a Subset of set1

### 49. Create a set of alternating 1s and 0s of length `n`.

In [5]:
n = int(input("Enter the Length :"))
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print("Alternating Set :" ,alternating_set)

Enter the Length : 5

Alternating Set : {0, 1}

### 50. Merge multiple sets into one.

In [6]:
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}
merged_set = set1.union(set2 , set3)
print("Merged Set :" ,merged_set)

Merged Set : {1, 2, 3, 4, 5, 6, 7, 8, 9}